@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), Arial, Helvetica, sans-serif;
  --font-mono: var(--font-inter);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: 'Inter'; /* Declare only Inter here */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}
